<!DOCTYPE html>
<html>
  <head>
    <title>New Ember-Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!-- Manually include Bootstrap and FontAwesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/handlebars.js"></script>
    <script src="/js/dependencies/ember.js"></script>
    <script src="/js/dependencies/ember-data.js"></script>
    <script src="/js/dependencies/packery.pkgd.js"></script>
    <script src="/js/dependencies/draggabilly.js"></script>
    <script src="/js/ember-app/app.js"></script>
    <script src="/js/ember-app/controllers/base-controller.js"></script>
    <script src="/js/ember-app/routes/authorized-base-route.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/dashboard.packery.js"></script>
    <script src="/js/ember-app/adapters/application-adapter.js"></script>
    <script src="/js/ember-app/controllers/account-controller.js"></script>
    <script src="/js/ember-app/controllers/account-setup-controller.js"></script>
    <script src="/js/ember-app/controllers/active-profile-controller.js"></script>
    <script src="/js/ember-app/controllers/application-controller.js"></script>
    <script src="/js/ember-app/controllers/login-controller.js"></script>
    <script src="/js/ember-app/controllers/profiles-controller.js"></script>
    <script src="/js/ember-app/controllers/widgets/widgets-add-controller.js"></script>
    <script src="/js/ember-app/helpers/render-widget.js"></script>
    <script src="/js/ember-app/models/profile-model.js"></script>
    <script src="/js/ember-app/models/profile-widget-model.js"></script>
    <script src="/js/ember-app/models/user-model.js"></script>
    <script src="/js/ember-app/models/widget-model.js"></script>
    <script src="/js/ember-app/models/widgets/widget-general-model.js"></script>
    <script src="/js/ember-app/router.js"></script>
    <script src="/js/ember-app/routes/account-route.js"></script>
    <script src="/js/ember-app/routes/account-setup-route.js"></script>
    <script src="/js/ember-app/routes/active-profile-route.js"></script>
    <script src="/js/ember-app/routes/index-route.js"></script>
    <script src="/js/ember-app/routes/login-route.js"></script>
    <script src="/js/ember-app/routes/profiles-route.js"></script>
    <script src="/js/ember-app/routes/widgets/widgets-add-route.js"></script>
    <script src="/js/ember-app/serializers/profile-serializer.js"></script>
    <script src="/js/ember-app/serializers/profile-widget-serializer.js"></script>
    <script src="/js/ember-app/views/active-profile-view.js"></script>
    <script src="/js/ember-app/views/widgets/widgets-add-view.js"></script>
    <script src="/js/jquery.smartresize.js"></script>
    <!--SCRIPTS END-->

    <script type="text/javascript">
        //(function() {
        var userId = '';
        <% if(userId) { %>
        userId = '<%= userId %>';
        <% } %>

        // Setup Ember.
        ServerDash.userId = userId;
        ServerDash.firstLogin = <%= firstLogin %>;
        //})();
    </script>

    <!--
          Client-side Templates
          ========================

          HTML templates are important prerequisites of modern, rich client applications.
          To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
          that you load these templates client-side.

          By default, your Gruntfile is configured to automatically load and precompile
          client-side JST templates in your `assets/templates` folder, then
          include them here automatically (between TEMPLATES and TEMPLATES END).

          To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
          For example, here are a few things you could do:

              + Import templates from other directories
              + Use a different template engine (handlebars, jade, dust, etc.)
              + Internationalize your client-side templates using a server-side
                stringfile before they're served.
      -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/template.js"></script>
    <!--TEMPLATES END-->
  </body>
</html>
