<!DOCTYPE html>
<html>
  <head>
    <title>New Ember-Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="/js/dependencies/jquery.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/login.css">
  </head>

  <body>
    <%- body %>

  </body>
</html>
