*, :before, :after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: #eaeaea;
  overflow-y: scroll;
  overflow-x: visible;
}

.fade {
  opacity: 0;
  .transition(opacity 0.7s ease-in-out);

  &.in {
    opacity: 1.0;

    &.light {
      opacity: 0.6;
    }

    &.dark {
      opacity: 0.75;
    }
  }
}

/* Modals */

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: #000;
  z-index: -1;
  .transition(all 0.7s ease-in-out);

  &.in {
    z-index: 10;
  }
}

/* Header */

header {
  height: 55px;
  padding: 10px 10px 10px 20px;
  color: #fff;
  background-color: #428bca;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  h1 {
    line-height: 35px;
    font-size: 1.7em;
    margin: 0;
  }

  .fa {
    line-height: 35px;
    cursor: pointer;
    color: #fff;
    margin-left: 15px;
  }
}

/* Sidebar */

.sidebar {
  position: absolute;
  top: 76px;
  bottom: 0;
  left: 0;
  width: 125px;
  padding-top: 1%;

  .profile-icon {
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;

    .fa {
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    &.active {
      color: rgb(0, 169, 255)
    }
  }
}

/* Main Content */

.packery {
  left: 100px;
}

.container {
  padding: 20px;

  form hr {
    border-color: #eaeaea;
  }
}

/* Alerts */

.alert-header {
  font-weight: bold;
}

.alert-message {
  margin-top: 10px;
}

.alert-list {
  margin-top: 10px;
  padding-left: 15px;
}

/* Table Styles */
.narrow-column {
  text-overflow: ellipsis;
  max-width: 100px;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
}
