<div id="main">
    <div class="packery" {{bind-attr data-profile-id="model.id"}}>
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {{outlet}}
    </div>
</div>

{{outlet addWidget}}