<div id="error" {{bind-attr class=":alert :alert-danger hasError:visible:hidden"}} role="alert">
    <div class="alert-header">{{header}}</div>
    <div class="alert-message">{{message}}</div>
    {{#if errorList.length}}
        <ul class="alert-list">
            {{#each error in errorList}}
                <li>{{error}}</li>
            {{/each}}
        </ul>
    {{/if}}
</div>