<div class="handle"></div>
<div class="header">{{title}}</div>
<div class="content-wrapper">
    <div class="content">
        OS: {{data.general.os}}
    </div>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    Herpy Derp
</div>